body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: aliceblue;
    margin: 0;
}

.container {
    background-color: azure;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px black;
    text-align: center;
}

h1 {
    color: black;
    margin-bottom: 20px;
}

#dibujo-ahorcado {
    position: relative;
    width: 150px;
    height: 100px;
    margin: 20px auto;
}

#soga {
    position: absolute;
    top: 10px;
    left: 70px;
    width: 2px;
    height: 30px;
    background-color: black;
}

#cabeza {
    position: absolute;
    top: 40px;
    left: 55px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid black;
    display: none;
}

#cuerpo {
    position: absolute;
    top: 80px;
    left: 70px;
    width: 2px;
    height: 60px;
    background-color: black;
    display: none;
}

#brazo-izquierdo {
    position: absolute;
    top: 90px;
    left: 30px;
    width: 40px;
    height: 2px;
    background-color: black;
    transform: rotate(-45deg);
    display: none;
}

#brazo-derecho {
    position: absolute;
    top: 90px;
    left: 80px;
    width: 40px;
    height: 2px;
    background-color: black;
    transform: rotate(45deg);
    display: none;
}

#pierna-izquierda {
    position: absolute;
    top: 140px;
    left: 50px;
    width: 30px;
    height: 2px;
    background-color: black;
    transform: rotate(-45deg);
    display: none;
}


#pierna-derecha {
    position: absolute;
    top: 140px;
    left: 90px;
    width: 30px;
    height: 2px;
    background-color: black;
    transform: rotate(45deg);
    display: none;
}

#palabra-oculta {
    font-size: 1.5em;
    margin-bottom: 20px;
    letter-spacing: 10px;
}

#letras-incorrectas {
    margin-bottom: 15%;
    color: red;
    font-weight: bold;
}

#botones-letras {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    gap: 5px;
    margin-bottom: 20px;
}

#background-letras button {
    background-color: rgb(59, 59, 255);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

#botones-letras button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: default;
}

#botones-letra button:hover:enabled {
    background-color: #0056b3;
}

#mensaje {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 12px;
}

#reiniciar {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

#reiniciar:hover {
    background-color: #1e7e34;
}